{% extends 'base.html' %}

{% block title %}
    Django Form
{% endblock %}

{% block content %}



    <h2>
        {% if name %}
            Hello, {{ name }}! Nice to see you!
        {% else %}
            Please, enter your name!
        {% endif %}
    </h2>

    <h3>Auto Django form</h3>
    <form method="POST" action="{% url 'index' %}">
        {% csrf_token %}
        {# we can rend our form as_div, as_p and etc.#}
        {{ form.as_div }}
        <button>Send name</button>
        {# <input type="submit" value="Send name"> #}
    </form>

    <h3>Customized Django form</h3>
    <form method="POST" action="{% url 'index' %}">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong></label>
                {{ field }}
            </div>
        {% endfor %}
        <button>Send name</button>
        {# <input type="submit" value="Send name"> #}
    </form>

{% endblock %}

