<div class="card-box">
    <img src="{{ album.image_url }}" alt="Cover Image"/>
    <div>
        <div class="text-center">
            <p class="name">Name: {{ album.name }}</p>
            <p class="artist">Artist: {{ album.artist_name }}</p>
            <p class="genre">Genre: {{ album.genre }}</p>
            <p class="price">Price: ${{ album.price|floatformat:2 }}</p>
        </div>
        <div class="btn-group">
            <a href="{% url 'details-album' pk=album.pk %}">Details</a>
        </div>
    </div>
</div>