{% extends 'base/base.html' %}
{% load paging %}
{% load static %}

{% block page_content %}

    <div class="container">
        <div class="col-9">

            <!-- Start Searchbar Form -->
            <form class="searchbar" action="{% url 'home-page' %}" method="GET">
                <input type="text" name="pet_name_pattern" placeholder="Search by pet name..."
                       value="{{ pet_name_pattern }}">
                <button>
                    <img src="{% static '/images/search.png' %}" height="18" alt="img2">
                </button>
            </form>
            <!-- End Searchbar Form -->

            <!-- Start Pet Photos Post Section -->

            {% include 'partials/pet-photo-list.html' with photo_list=object_list %}

            <!-- End Pet Photos Post Section -->

            <!-- Start Pagination -->
            <div class="pagination">
                <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                <span class="step-links-buttons">
                
                    {% prev_button %}
                    {% next_button %}
                    
                </span>
            </div>
            <!-- End Pagination -->


        </div>
    </div>

{% endblock %}