{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}

    <div class="container">
        <div class="col-9">
        

            <a href="{% url 'edit-photo' pk=object.pk %}">Edit</a>

            <!-- Start Pet Photo Post Section -->
            {% include 'partials/pet-photo-list-item.html' with photo=object %}
            <!-- End Pet Photo Post Section -->

            <!-- Photo description -->
            <p class="pet-details">{{ object.description }}</p>

            <!-- Date of Publication or edit of the Photo -->
            <h5 class="postTime">{{ object.date_of_publication }}</h5>

            <!-- Start Comments Section -->
            <div class="comments">
                {% for comment in object.photocomment_set.all %}
                    <div class="top">
                        <div class="userDetails">
                            <div class="comment-data">
                                <div class="profilepic">
                                    <div class="profile_img">
                                        <div class="image">
                                            <!-- User Profile Image -->
                                            <img src="{% static 'images/person.png' %}" alt="img8">
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <!-- Link to User Profile Details Page-->
                                    <!-- User First and/or Last Name or username-->
                                    <a href="{% url 'profile-details' pk=1 %}">Steven Ivanov</a>
                                    <!-- User Comment -->
                                    - {{ comment.text }}
                                </p>
                            </div>
                            <span>{{ comment.date_time_of_publication }}</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- End Comments Section -->

        </div>
    </div>

{% endblock %}