<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Hello, there!!!</h1>

<hr>

<h2>{{ title }}</h2>
<p>Static Time: {{ static_time|time:"s" }}</p>
<p>Dynamic Time: {{ dynamic_time|time:"s" }}</p>

<hr>

<h2>Todos:</h2>
<ul>
    {% for todo in todo_list %}
        <li>
        <strong>{{ todo.title }}</strong> - {{ todo.date_created }} - {{ todo.deadline }}
        </li>
    {% endfor %}
</ul>
</body>
</html>