h1 {
    color: midnightblue;
    font-size: 24px;
    background: darkgray;
}

body {
    padding: 20px;
}

.young {
    color: green;
}

.adult {
    color: dodgerblue;
}

.cat-image {
    border: 2px solid black;
}