{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}

    <div class="container">
        <div class="col-9">

            <!-- Start Searchbar Form -->
            <form class="searchbar" method="GET" action="{% url 'index' %}">
                {#                <input type="text" placeholder="Search by pet name...">#}
                {{ search_form }}
                <button>
                    <img src="{% static '/images/search.png' %}" height="18" alt="img2">
                </button>
                {% csrf_token %}
            </form>
            <!-- End Searchbar Form -->

            <!-- Start Pet Photos Post Section -->
            <!-- Start First Pet Photo Post -->

            {% for photo in photos %}

                {% include 'partials/photo-item.html' with photo=photo %}

            {% endfor %}


            <!-- End Pet Photos Post Section -->

        </div>
    </div>

{% endblock %}