{% extends 'base.html' %}

{% block main_content %}

    <!-- Dashboard Page -->
    {% if object_list %}
        <h2>Fruits</h2>
    {% endif %}
    <section id="dashboard">

        {% for fruit in object_list %}
            <!-- Display a div "fruit" with information about each post (if any)-->
            {% include 'partials/fruit_card.html' with fruit=fruit %}
        {% empty %}
            <!-- Display a heading if there are no posts -->
            <h2>No fruit info yet.</h2>
        {% endfor %}

    </section>

{% endblock %}