{% extends 'base.html' %}

{% block main_content %}

    <!-- Main Content -->
    <!-- Catalog with Albums-->
    <section id="catalogPage">
        <!--  If No albums in catalog -->
        {% if object_list %}
            <h1>All Albums</h1>
        {% else %}
            <p>No Albums in Catalog!</p>
        {% endif %}

        {% for album in object_list %}
            <!-- If albums in catalog -->
            {% include 'partials/album_card.html' with album=album %}
        {% endfor %}
    </section>

{% endblock %}
