{% extends 'base.html' %}

{% block main_content %}

    <!-- create profile form -->
    <section id="register-page" class="content auth">
        <form action="{% url 'create-profile' %}" method="POST" id="register">
            <div class="container">
                <h1>Create Profile</h1>

                {{ form }}

                {% csrf_token %}

                <input class="btn submit" type="submit" value="Create Profile">
            </div>
        </form>
    </section>

{% endblock %}