{% extends 'base/base.html' %}
{% load static %}

{% block page_content %}

    <!-- Start Add Pet Section-->
    <div class="edit-delete edit-photo">
        <h2>Add pet</h2>

        <!-- Start Add Pet Form -->

        <form action="{% url 'add-pet' %}" method="POST">
            {{ form.as_p }}
     
            <!-- Add Pet Button -->
            <button class="add-btn" type="submit">Add Pet</button>

            {% csrf_token %}

        </form>
        <!-- End Add Pet Form -->

    </div>
    <!-- End Add Pet Section -->

{% endblock %}