<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <div>
        <a href="{% url 'login_user' %}">Login</a>
    </div>
    <div>
        <a href="{% url 'logout_user' %}">Logout</a>
    </div>
</div>
<h1>It works!</h1>
<b>csrf_token:</b> {{ csrf_token }}

<div>
    <p>
        <b> User:</b> {{ user }}
    </p>
    <p>
        <b>Is Authenticated:</b> {{ user.is_authenticated }}
    </p>
    <p>
        <b>Has permission to view users:</b> {{ permission }}
    </p>
</div>
</body>
</html>