{% extends 'base/base.html' %}
{% block page_content %}

    <!-- Start Add Photo Section -->
    <div class="edit-delete edit-photo">
        <h2>Add photo</h2>
        <!-- Start Add Photo Form -->
        <form method="POST" action="{% url 'add photo' %}" enctype="multipart/form-data">
            <!-- Add Photo Button -->
            {{ form.as_p }}
            <button class="add-btn" type="submit">Add Photo</button>
            {% csrf_token %}
        </form>
        <!-- End Add Photo Form -->
    </div>
    <!-- End Add Photo Section -->

{% endblock %}