{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">

    {% block styles %} {% endblock %}

    {# all pages scripts #}
    {% block head_scripts %} {% endblock %}
</head>
<body>

{# scripts in the beginning of the `body` tag #}
{% block body_start_scripts %} {% endblock %}

{# include the navbar form partials #}
{# we can use `with` to transfer variables to included template #}
{% include 'partials/navbar.html' with title='Navbar'%}

<h1>Welcome to the Django App</h1>

<p>This is an application about cats.</p>

{# `block` defines a placeholder where inheritor #}
{# templates can insert their #}
{# custom/specific HTML #}
{% block main_content %}
{% endblock %}

{% include 'partials/footer.html' %}

{# scripts in the end of the `body` tag #}
{% block body_end_scripts %} {% endblock %}

</body>
</html>