<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1> Django Form</h1>
<form method="POST" action="{% url 'form' %}">
    {{ form.as_p }}
    <button>Send</button>
    <p>
        <a href="{% url 'model form' %}">To ModelForm >></a>
    </p>
    <p>
        <a href="{% url 'create person' %}">Create a person >></a>
    </p>
    <p>
        <a href="{% url 'list persons' %}">List all persons >></a>
    </p>
    {% csrf_token %}
</form>
</body>
</html>